.icon {
    font-size: 35px;
    width: 40px;
  }
  
  .skeleton {
    cursor: wait;
  }
  
  .skeleton * {
    cursor: wait;
    color: transparent;
    background: linear-gradient(
      -45deg,
      transparent 25%,
      #dce1fc 25%,
      #dce1fc 50%,
      transparent 50%,
      transparent 75%,
      #dce1fc 75%
    );
    background-size: 27px 27px;
    animation: barberpole 8s infinite linear;
  }
  
  @keyframes barberpole {
    from {
      background-position: 0%;
    }
    to {
      background-position: 100%;
    }
  }
  